<ul [ngClass]="{close_menu: close}" class="main-menu">
  <div class="collapsed-menu" (click)="collapsMenu()">
    <i [ngClass]="{rotate_icon: rotate}" class="material-icons">
      keyboard_arrow_left
    </i>
  </div>
  <li>
    <a href="">
      <i class="material-icons">
        adjust
      </i>
      <span>menu-item</span>
    </a>
  </li>
  <li>
    <a href="">
      <i class="material-icons">
        adjust
      </i>
      <span>menu-item</span>
    </a>
  </li>
  <li>
    <a href="">
      <i class="material-icons">
        adjust
      </i>
      <span>menu-item</span>
    </a>
  </li>
  <li>
    <a href="">
      <i class="material-icons">
        adjust
      </i>
      <span>menu-item</span>
    </a>
  </li>
</ul>
