.header {
  height: 100px;
  padding: 15px;
}
.wrapper {
  display: flex;
}
.sidebar {
  display: flex;
  height: calc(100vh - 100px);
}

.main-content {
  padding: 50px 20px;
}

.main-content h1 {
  margin-bottom: 20px;
}

